/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
  font-family: "Pokemon Font";
  src: url(../fonts/pokemon_fire_red.woff);
  src: url(../fonts/pokemon_fire_red.woff) format("woff"),
    url(../fonts/pokemon_fire_red.ttf) format("truetype");
}

* {
  --white-color: #f8f8f8;
  --black-color: #283030;
  --gray-color: #d0d0c8;
  --gray-dark-color: #484848;
  --purple-color: #484058;
  --experience-color: #40c8f8;
  --hp-light-color: #70f8a8;
  --hp-dark-color: #58d080;
  --hp-empty-light-color: #526856;
  --hp-empty-dark-color: #453e59;
  --yellow-color: #f8d050;
  --yellow-dark-color: #f8b040;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Pokemon Font";
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
